/* page */
section.album {
  height: 100%;
}

img#album-cover-art {
  margin-top: 1rem;
  margin-left: 0;
  align: center;
}

/* album details container */
div.album-details {
  padding: 5px;
}

h1#album-title {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 2px;
}

h2.artist {
  font-weight: 300;
  font-size: 1.25rem;
  margin-top: 2px;
  margin-bottom: 10px;
}

div#release-info {
  font-weight: 300;
  font-size: 1rem;
}

/* song list */
table#song-list {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

td.song-duration {
  padding-left: 50px;
}

td.song-number {
  padding-right: 50px;
}
