a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:hover {
  color: rgb(236, 042, 114);
  text-decoration: none;
}

h1.hero-title {
  margin-top: 15%;
  margin-bottom: 15%;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-shadow: 1px 1px 0px rgb(58,23,63);
}

div.point {
  margin-bottom: 10%;
}

p.point-description {
  margin-top: 0;
  margin-bottom: 0;
}
