.App {
  text-align: center;
  position: relative;
  background-image: url(/assets/images/blurred_backgrounds/blur_bg_3.jpg);
  background-repeat: no-repeat;
  background-position: center center; /*horizontal and vertical*/
  background-size: cover; /*scales img*/
  color: rgb(255, 255, 255);
  text-shadow: 0.75px 0.75px 0px rgb(58,23,63);
}

.landing-header {
  height: 75px;
  color: white;
  padding: 15px;
}

.logo {
  padding: 0;
  margin: 0;
  float: left;
  cursor: pointer;
}

.library {
  text-align: right;
  cursor: pointer;
}
